body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.choices {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#display {
  display: flex;
}

.choice {
  height: 285px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

.winner {
  height: 50px;
  width: 140px;
  background-color: green;
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 45px;
}

.loser {
  height: 50px;
  width: 140px;
  background-color: red;
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 45px;
}

.tie {
  height: 50px;
  width: 140px;
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 45px;
}

.choice-display-img {
  height: 200px;
  width: 200px;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 400px;
  border: 1px solid black;
}

#game {
  background-color: lightgrey;
  height: 650px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}